:root {
  box-sizing: border-box;

  --soft-blue: hsl(215, 51%, 70%);
  --cyan: hsl(178, 100%, 50%);

  --bg-main: hsl(217, 54%, 11%);
  --bg-card: hsl(216, 50%, 16%);
  --color-line: hsl(215, 32%, 27%);
  --white: hsl(0, 0%, 100%);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

::backdrop {
  --backdrop-color: rgb(0 0 0 / 0.4);
}

body {
  min-height: 100vh;
  margin: 0;

  background-color: var(--bg-main);
  color: var(--soft-blue);

  font-family: "Outfit", sans-serif;
  font-size: 1rem;
  line-height: 1.5;

  display: flex;
  flex-direction: column;
}

img,
picture {
  display: block;
  max-width: 100%;
}

main {
  flex: 1;
  display: grid;
  place-items: center;
}

.nft {
  width: min(20.4375rem, 90%);
  padding: 1.5rem;
  border-radius: 1rem;
  background-color: var(--bg-card);
}

.nft__body {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.nft__body * {
  margin: 0;
}

.nft__img {
  all: unset;
  display: block;
  border-radius: 0.5rem;
  margin-bottom: 1.5rem;
  overflow: hidden;
  position: relative;
}

.nft__img::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--cyan);
  opacity: var(--overlay-opacity, 0);
  transition: opacity 200ms ease-in-out;
}

.nft__img .overlay-icon {
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  opacity: var(--eye-opacity, 0);
  transition: opacity 200ms ease-in-out;
}

@media (hover: hover) {
  .nft__img:hover {
    --overlay-opacity: 0.5;
    --eye-opacity: 1;
  }
}

.nft__img:focus {
  --overlay-opacity: 0.5;
  --eye-opacity: 1;
}

.nft__img:focus-visible {
  outline: 2px solid var(--cyan);
}

.nft__dialog {
  border: none;
  padding: 0;
}

.nft__dialog::backdrop {
  background-color: var(--backdrop-color);
}

.nft__title {
  font-size: 1.375rem;
  font-weight: 600;
  line-height: 1;
  color: var(--white);
  transition: color 250ms ease-in-out;
}

.nft__title:hover {
  color: var(--cyan);
}

.nft__description {
  font-weight: 300;
}

.nft__price-time {
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
}

.nft__price-time div {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.nft__price p {
  color: var(--cyan);
}

.nft hr {
  margin: 0;
  border: 0;
  border-bottom: 0.0625rem solid var(--color-line);
}

.nft__author {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 0.9688rem;
  font-weight: 300;
}

.nft__author img {
  border-radius: 50%;
  box-shadow: 0 0 0 0.0625rem var(--white);
  max-width: 2rem;
}

.nft__author a {
  color: var(--white);
  text-decoration: none;
  transition: color 250ms ease-in-out;
}

.nft__author a:is(:hover, :focus) {
  color: var(--cyan);
}

.attribution {
  font-size: 0.6875rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 48em) {
  body {
    font-size: 1.125rem;
  }
  .nft {
    width: min(21.875rem, 90%);
    padding-block-end: 1.875rem;
  }

  .nft__img {
    margin-bottom: 1.75rem;
  }

  .nft__body {
    gap: 1.25rem;
  }

  .nft__price-time div {
    gap: 0.375rem;
  }

  .nft__author {
    font-size: 1.0313rem;
  }
}
