:root {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-height: 100vh;
  margin: 0;

  font-family: "Outfit", sans-serif;
  font-size: 1.125rem;
  line-height: 1.5;

  display: grid;
  grid-template-rows: 1fr auto;
  place-items: center;
}

img,
picture {
  display: block;
  max-width: 100%;
}

.nft {
  max-width: 20.4375rem;
  padding: 1.5rem;
  outline: 1px solid red;
}

.nft * {
  margin: 0;
}

.nft__price-time {
  display: flex;
  justify-content: space-between;
}

.nft__price-time div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nft__author {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nft__author img {
  max-width: 2.25rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
